<h2>Taken Steps:</h2>

<div class="steps">
    <table>
        <tr>
            <th>ID</th>
            <th>Date</th>
        </tr>
        <tr ng-repeat="step in steps | orderBy: 'date'">
            <td>{{step.id}}</td>
            <td>{{step.date}}</td>
        </tr>
    </table>
</div>